.chatContainer {
  display: flex;
  height: 80vh;
  margin-top: 20px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.sidebar {
  width: 30%;
  background-color: #f5f5f5;
  border-right: 1px solid #ddd;
  overflow-y: auto;
  padding: 20px;
}

.searchInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 20px;
  border: 1px solid #ddd;
}

.messageListItem,
.searchResultItem {
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.2s;
}

.messageListItem:hover,
.searchResultItem:hover {
  background-color: #e8e8e8;
}

.boldMessage {
  font-weight: bold;
}

.chatWindow {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
}

.messages {
  min-height: 69vh;
  overflow-y: auto;
  padding-right: 10px;
}

.messageItem {
  padding: 10px 15px;
  border-radius: 15px;
  font-size: 14px;
  word-wrap: break-word;
  text-align: center;
}

.sent {
  background-color: #0084ff;
  color: #fff;
  align-self: flex-end;
  justify-self: right;
  margin-bottom: 5px;

}

.received {
  background-color: #f1f0f0;
  color: #333;
  align-self: flex-start;
  justify-self: left;
  margin-bottom: 5px;
}

.messageInput {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #ddd;
}

.inputText {
  width: 70%;
  padding: 12px;
  border-radius: 18px;
  border: 1px solid #ddd;
  margin-right: 10px;
}

.sendButton {
  padding: 10px 20px;
  background-color: #0084ff;
  color: #fff;
  border: none;
  border-radius: 18px;
  cursor: pointer;
}

.sendButton:hover {
  background-color: #006bbd;
}

@media (max-width: 768px) {
  .chatContainer {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: 50vh;
  }

  .chatWindow {
    height: 50vh;
  }
}
