.reserveAppointmentForm {
    margin: 0; /* Removes any default margin */
    padding: 0; /* Removes any default padding */
    display: inline-flex; /* Keeps the form inline with other elements */
    align-items: center; /* Aligns items vertically at the center */
  }
  